an 100% {
  transform: scaleY(1);
}
html {
  height: 100%;
}
.header {
  display: flex;
  justify-content: center;
}
.header h1 {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: 0 0 0 0;
  height: 100%;
  margin: 0;
  background-image: url("./pics/fondo.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.main .section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.main .section-vida {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #0f0;
  background-color: #fff;
  background-image: url("./pics/Elemento-Vida.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-vida > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-vida:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-vida:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-vida:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-vida:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-vida:focus {
  background: #fff;
}
.main .section-luz {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #c0c0c0;
  background-color: #fff;
  background-image: url("./pics/Elemento-Luz.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-luz > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-luz:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-luz:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-luz:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-luz:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-luz:focus {
  background: #fff;
}
.main .section-viento {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #8000ff;
  background-color: #fff;
  background-image: url("./pics/Elemento-Viento.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-viento > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-viento:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-viento:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-viento:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-viento:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-viento:focus {
  background: #fff;
}
.main .section-agua {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #00f;
  background-color: #fff;
  background-image: url("./pics/Elemento-Agua.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-agua > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-agua:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-agua:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-agua:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-agua:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-agua:focus {
  background: #fff;
}
.main .section-rayo {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #ff0;
  background-color: #fff;
  background-image: url("./pics/Elemento-Rayo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-rayo > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-rayo:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-rayo:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-rayo:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-rayo:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-rayo:focus {
  background: #fff;
}
.main .section-oscuridad {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #202020;
  background-color: #fff;
  background-image: url("./pics/Elemento-Oscuridad.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-oscuridad > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-oscuridad:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-oscuridad:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-oscuridad:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-oscuridad:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-oscuridad:focus {
  background: #fff;
}
.main .section-tierra {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #ff8000;
  background-color: #fff;
  background-image: url("./pics/Elemento-Tierra.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-tierra > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-tierra:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-tierra:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-tierra:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-tierra:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-tierra:focus {
  background: #fff;
}
.main .section-fuego {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #f00;
  background-color: #fff;
  background-image: url("./pics/Elemento-Fuego.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-fuego > .property {
  display: none;
  color: #000;
  padding: 2em;
}
.main .section-fuego:focus {
  animation: apearNormal 1s 1;
  position: absolute;
  border-radius: 2rem;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: auto;
  max-height: 80%;
  color: #000;
  text-decoration: none;
  padding: 2em;
  overflow: scroll;
}
.main .section-fuego:focus > .property {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.main .section-fuego:focus > .property >h2 {
  font-size: 1em;
  margin-right: 0.5em;
}
@media (max-width: 600px) {
  .main .section-fuego:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-fuego:focus {
  background: #fff;
}
@-moz-keyframes apearNormal {
  0% {
    transform: scaleY(0);
  }
}
@-webkit-keyframes apearNormal {
  0% {
    transform: scaleY(0);
  }
}
@-o-keyframes apearNormal {
  0% {
    transform: scaleY(0);
  }
}
@keyframes apearNormal {
  0% {
    transform: scaleY(0);
  }
}
