html {
  height: 100%;
}
.header {
  display: flex;
  justify-content: center;
}
.header h1 {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: 0 0 0 0;
  height: 100%;
  margin: 0;
  background-image: url("./pics/fondo.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.main .section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.main .section-vida {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #0f0;
  background-color: #fff;
  background-image: url("./pics/Elemento-Vida.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-vida > p {
  display: none;
  color: #000;
}
.main .section-vida:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-vida:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-vida:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-vida:focus {
  background: #fff;
}
.main .section-luz {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #c0c0c0;
  background-color: #fff;
  background-image: url("./pics/Elemento-Luz.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-luz > p {
  display: none;
  color: #000;
}
.main .section-luz:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-luz:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-luz:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-luz:focus {
  background: #fff;
}
.main .section-viento {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #8000ff;
  background-color: #fff;
  background-image: url("./pics/Elemento-Viento.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-viento > p {
  display: none;
  color: #000;
}
.main .section-viento:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-viento:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-viento:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-viento:focus {
  background: #fff;
}
.main .section-agua {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #00f;
  background-color: #fff;
  background-image: url("./pics/Elemento-Agua.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-agua > p {
  display: none;
  color: #000;
}
.main .section-agua:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-agua:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-agua:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-agua:focus {
  background: #fff;
}
.main .section-rayo {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #ff0;
  background-color: #fff;
  background-image: url("./pics/Elemento-Rayo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-rayo > p {
  display: none;
  color: #000;
}
.main .section-rayo:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-rayo:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-rayo:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-rayo:focus {
  background: #fff;
}
.main .section-oscuridad {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #202020;
  background-color: #fff;
  background-image: url("./pics/Elemento-Oscuridad.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-oscuridad > p {
  display: none;
  color: #000;
}
.main .section-oscuridad:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-oscuridad:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-oscuridad:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-oscuridad:focus {
  background: #fff;
}
.main .section-tierra {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #ff8000;
  background-color: #fff;
  background-image: url("./pics/Elemento-Tierra.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-tierra > p {
  display: none;
  color: #000;
}
.main .section-tierra:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-tierra:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-tierra:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-tierra:focus {
  background: #fff;
}
.main .section-fuego {
  margin: 1em;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #f00;
  background-color: #fff;
  background-image: url("./pics/Elemento-Fuego.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .section-fuego > p {
  display: none;
  color: #000;
}
.main .section-fuego:focus {
  animation: apear 1s 1;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
}
.main .section-fuego:focus > p {
  display: block;
}
@media (max-width: 600px) {
  .main .section-fuego:focus {
    width: 90%;
    left: 5%;
  }
}
.main .section-fuego:focus {
  background: #fff;
}
@-moz-keyframes apear {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}
@-webkit-keyframes apear {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}
@-o-keyframes apear {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}
@keyframes apear {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}
