<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="./style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
body.main
    header.header
    section.section
        article
            a.section-vida(href="#")
                p Vida
        article
            a.section-luz(href="#")
                p Luz
        article
            a.section-viento(href="#")
                p Viento
        article
            a.section-agua(href="#")
                p Agua
        article
            a.section-rayo(href="#")
                p Rayo
        article
            a.section-oscuridad(href="#")
                p Oscuridad
        article
            a.section-tierra(href="#")
                p Tierra
        article
            a.section-fuego(href="#")
                p Fuego