<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="./style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
body.main
    header.header
    section.section
        article
            a.section-vida(href="#")
                header.header 
                    h1 Vida
                .property
                    h2 FP
                    p Recordar la estructura completa (y afín) del conjunto 
                .property
                    h2 FA
                    p Asimilar (ME >> EI)
                .property
                    h2 EP
                    p Transformación (EI >> EM) siguiendo estructura (Reparar)
                .property
                    h2 EA
                    p Si imbuido > combinar ? combinar : nada (imponer FP)
                .property
                    h2 AP 
                    p Fijar la estructura actual (hibridar / imponer FP)
                .property
                    h2 AA 
                    p Forzar Combinación (imponer FP) >> Auto:AP
                .property
                    h2 RP  
                    p Propagar EP a EI (Combinar)
                .property
                    h2 RA  
                    p Asimilar Contacto	: Asimilar ME al contacto / Imbuirse / Usar EI para repararse (combinar)
                
        article
            a.section-luz(href="#")
                header.header 
                    h1 Luz
                .property
                    h2 FP
                    p Si Degradarse en energía (vía 0) --> Emitirse 1ªvía
                .property
                    h2 FA
                    p Si poder imbuir > imbuido ? Imbuir : Reflejarse
                .property
                    h2 EP
                    p Emitirse / Abandonar objeto (sólo EI)
                .property
                    h2 EA
                    p Si imbuido > combinar ? Combinar : nada
                .property
                    h2 AP 
                    p Purificar (asimilación ME) y Emitir (sin control)
                .property
                    h2 AA 
                    p Forzar Combinar (con capacidad de Alearse)
                .property
                    h2 RP  
                    p Asimilar MM y mantener control >> Eliminar EI
                .property
                    h2 RA  
                    p Auto: AA >> RP >> Si (!Orden) FP >> Propagar RA : Orden
                    
        article
            a.section-viento(href="#")
                header.header 
                    h1 Viento
                .property
                    h2 FP
                    p Resistencia a ser controlado (requiere imbuido 200%)
                .property
                    h2 FA
                    p Repeler(se) formas físicas (antigravedad, todos, distancia)
                .property
                    h2 EP
                    p Inmunizar de propiedades físicas (todas - viento)
                .property
                    h2 EA
                    p Neutralizar/bloquear control
                .property
                    h2 AP 
                    p Regular inmunización de propiedades físicas (cualquiera - viento)
                .property
                    h2 AA 
                    p Separar/cortar estructuras físicas
                .property
                    h2 RP  
                    p Regular inmunización de propiedades físicas (cualquiera)
                .property
                    h2 RA  
                    p Separar/romper combinaciones y aleaciones
                    
        article
            a.section-agua(href="#")
                header.header 
                    h1 Agua
                .property
                    h2 FP
                    p Resistencia a Imbuirse (Reducción de EI por turno, -agua)
                .property
                    h2 FA
                    p Si (vacio) Captura de EI por contacto (mayor tiene prioridad) : nada
                .property
                    h2 EP
                    p Daño físico (Destrucción) --> Daño EI
                .property
                    h2 EA
                    p Si (daño a EI < EI) Asimilar (ME) objeto (==daño EI) : nada
                .property
                    h2 AP 
                    p Bloqueo estructura >> Anular FP y FA (todas)
                .property
                    h2 AA 
                    p Bloqueo estructura >> Anular FP y FA (ajeno)
                .property
                    h2 RP  
                    p Barrera de daño (Si (daño < resonancia*2) 0 : daño)
                .property
                    h2 RA  
                    p Bloquear estructura >> Anular FP y FA (todas)
        article
            a.section-rayo(href="#")
                header.header 
                    h1 Rayo
                .property
                    h2 FP
                    p Sufrir al ser imbuido el doble de efecto (mitad requisitos)
                .property
                    h2 FA
                    p Transmitir EI por contacto % según relación elemental
                .property
                    h2 EP
                    p Si imbuida < imbuido rayo ? asimilar EE rayo : nada
                .property
                    h2 EA
                    p Si imbuida < imbuido rayo ? asimilar EE rayo : sacrificarse EE imbuida
                .property
                    h2 AP 
                    p Transmitir EI por contacto 100% y aplicar EPP en objetivo
                .property
                    h2 AA 
                    p Si imbuida (ajeno) : sacrificarse EE imbuida (ajena)
                .property
                    h2 RP  
                    p Emisión virtual EI (instantanea, 1 objeto propio)
                .property
                    h2 RA  
                    p Interferencia en la emisión / transmisión de energía
        article
            a.section-oscuridad(href="#")
                header.header 
                    h1 Oscuridad
                .property
                    h2 FP
                    p Asimilación de energía imbuida para crecer fisicamente (-osc)
                .property
                    h2 FA
                    p Verse atraido por fuentes de energía (objetos cargados / imbuidos) (-osc)
                .property
                    h2 EP
                    p Transmitir EI por contacto % según relación elemental
                .property
                    h2 EA
                    p Si imbuido > combinar ? combinar : nada
                .property
                    h2 AP 
                    p Atracción virtual (progresiva, todos los objetos propios) [[ENERGIA IMBUIDA??]]
                .property
                    h2 AA 
                    p Forzar purificación (con atraccion virtual)
                .property
                    h2 RP  
                    p Imitar FA de / con energía imbuida (sin crecimiento)
                .property
                    h2 RA  
                    p Retomar / reclamar el control de algo abandonado (sin coste)
        article
            a.section-tierra(href="#")
                header.header 
                    h1 Tierra
                .property
                    h2 FP
                    p Resistencia a cambios fisicos (estructurales)
                .property
                    h2 FA
                    p Atraer(se) las formas fisicas (gravedad, todos, distancia)
                .property
                    h2 EP
                    p Al contacto mantener unida la materia fisica (tierra)
                .property
                    h2 EA
                    p Atraer(se) las formas fisicas (Aumentar peso) + Rigidez (estructura)
                .property
                    h2 AP 
                    p Unificar / Crear estructura estable (nuevo conjunto, tierra)
                .property
                    h2 AA 
                    p Atraer(se) las formas fisicas (cualquiera, elegir)
                .property
                    h2 RP  
                    p Absorción de daño físico (estructural)
                .property
                    h2 RA  
                    p Compactación (mismo,+via) densificando estructura central (temporal)
        article
            a.section-fuego(href="#")
                header.header 
                    h1 Fuego
                .property
                    h2 FP
                    p Emitir 1ªvía al sufrir Daños físcos (estructurales)
                .property
                    h2 FA
                    p Consumir materia fisica para crecer fisicamente (todos)
                .property
                    h2 EP
                    p Emitirse / Abandonar objeto (sólo energía imbuida)
                .property
                    h2 EA
                    p Derretir (rebajar vias virtualmente temporal 0=Degradación)
                .property
                    h2 AP 
                    p Explotar por desfragmentación (Daño físico y EI al contacto)
                .property
                    h2 AA 
                    p Explotar por desfragmentación (Daño físico estructural)
                .property
                    h2 RP  
                    p Potenciación de la acumulación / Duplicar efecto propiedades
                .property
                    h2 RA  
                    p Asimilación M>E por contacto y atracción virtual