<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="./style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
body.main
    header.header
    section.section
        article.section-vida 
            p Vida
        article.section-luz
            p Luz
        article.section-viento
            p Viento
        article.section-agua
            p Agua
        article.section-rayo
            p Rayo
        article.section-oscuridad
            p Oscuridad
        article.section-tierra
            p Tierra
        article.section-fuego
            p Fuego