@keyframes apear
    0%
        height 0%
    100%
        height 90%
            
articlemix(tipo)
    margin 1em
    height 7rem
    width 7rem
    border-radius 7rem
    display flex
    justify-content center
    align-items center
    box-shadow 0px 0px 10px 2px tipo
    > p
        display none
        color black
    &:focus
        animation apear 1s 1
        position absolute
        margin 0
        top 5%
        left 30%
        width 40%
        height 90%
        > p
            display block
        @media (max-width: 600px)
            width 90%
            left 5%
            
imgmix(urlpic)
    background-color white
    background-image url(urlpic)
    background-repeat no-repeat
    background-size contain
    background-position center
    &:focus
        background white
html
    height 100%
.header
    display flex
    justify-content center
    h1
        margin 0
.main
    display flex
    flex-direction column
    align-items  center
    justify-content center
    position 0 0 0 0
    height 100%
    margin 0
    background-image url(./pics/fondo.jpg)
    background-repeat no-repeat
    background-size auto
    background-position center
    .section
        display flex
        justify-content space-around
        align-items center
        flex-wrap wrap 
        height 100%
        &-vida
            articlemix(#00FF00)
            imgmix("./pics/Elemento-Vida.png")
        &-luz
            articlemix(#C0C0C0)
            imgmix("./pics/Elemento-Luz.png")
        &-viento
            articlemix(#8000FF)
            imgmix("./pics/Elemento-Viento.png")
        &-agua
            articlemix(#0000FF)
            imgmix("./pics/Elemento-Agua.png")
        &-rayo
            articlemix(#FFFF00)
            imgmix("./pics/Elemento-Rayo.png")
        &-oscuridad
            articlemix(#202020)
            imgmix("./pics/Elemento-Oscuridad.png")
        &-tierra
            articlemix(#FF8000)
            imgmix("./pics/Elemento-Tierra.png")
        &-fuego
            articlemix(#FF0000)
            imgmix("./pics/Elemento-Fuego.png")
    

